@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --clr-primary-1: #fe0403;
  --clr-primary-2: #0a0442;
  --clr-primary-3: #181818;
  --clr-primary-4: #3ca455;
  --clr-primary-5: #e67337;
  --clr-primary-6: #ececee;
  --clr-primary-7: #ffffff;
  --clr-primary-8: #06041d;
  --clr-primary-9: #f6f6f9;
  --clr-primary-10: #ccced0;
  --clr-primary-11: #040211;
  --clr-primary-12: #110f24;
  --clr-primary-13: #181818;
  --clr-gradient: linear-gradient(to right, #176bfb, #3ca455);

  --ff-primary: "Lato", sans-serif;
}

.about-header {
  background-image: url("./Images/About\ us.png");
  width: 100%;
  height: 50vh;
  background-size: 100% 100%;
}

.about-header::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-primary-8);
  opacity: 0.75;
}

.about-header h3 {
  position: relative;
  z-index: 2;
  text-align: left;
  font-size: 3rem;
  margin-left: -10%;
}

.about-section {
  width: 100%;
  height: 50vh;
  text-align: left;
}

.about-section p {
  margin-top: 2%;
  margin-left: 9%;
  /* padding: 0% 17%; */
  color: var(--clr-primary-13);
}

/* THIS IS FOR THE WHAT CONTAINER */

.what-container {
  display: flex;
  align-items: center;
  margin-top: 2%;
}

.what-section {
  width: 65%;
  height: 55vh;
  padding: 4% 0%;
  background-color: var(--clr-primary-12);
  color: var(--clr-primary-7);
  text-align: left;
}

.what-section h3,
.what-section p {
  margin-left: 15%;
}

.what-section h3 {
  font-size: 1.7rem;
}

.what-section p {
  line-height: 1.7;
  font-size: 0.95rem;
  margin-top: 3%;
}

.what-img-container {
  width: 45%;
  height: 60vh;
  background-image: url(./Images/Rectangle\ 51.png);
  background-size: 100% 100%;
  object-fit: contain;
  position: absolute;
  margin-top: 8%;
  right: 15%;
}

/* THIS IS FOR THE Objective Page*/
.objective-container {
  text-align: left;
  margin-top: 7%;
}

.objective-container h3 {
  color: var(--clr-primary-1);
  font-size: 2rem;
  padding: 1% 0%;
  margin-left: 9%;
}

.paragraph-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  justify-content: space-evenly;
  line-height: 1.8;
}

.paragraph-container p {
  margin-top: 3%;
  font-size: 0.9rem;
}
.paragraph-container p:nth-child(odd):before {
  content: "";
  background-color: var(--clr-primary-11);
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  margin-top: 0px;
  left: 7.9rem;
  z-index: 1;
}

.paragraph-container p:nth-child(even):before {
  content: "";
  background-color: var(--clr-primary-11);
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  margin-top: 0px;
  right: 41.35rem;
  z-index: 1;
}

/* THIS IS FOR THE Founder Page*/
.founder-container {
  height: 40vh;
  display: flex;
  background-color: var(--clr-primary-2);
  justify-content: space-evenly;
  place-items: center;
  color: var(--clr-primary-7);
  margin-top: 5%;
}

.founder-section {
  display: flex;
}

.founder-img {
  background-image: url(./Images/IMG_4999.png);
  width: 10rem;
  height: 10rem;
  background-size: 100% 100%;
}

.founder-img::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 6rem;
  height: 6rem;
  left: 8%;
  margin-top: 2%;
  background-image: url(./Images/IMG_4999.png);
  background-size: 100% 100%;
}

.founder-img::after {
  content: "";
  position: absolute;
  width: 10rem;
  height: 10rem;
  left: 11.7%;
  background-color: var(--clr-primary-1);
  opacity: 0.7;
}

.quote-container {
  align-self: center;
  font-size: 1.8rem;
  left: 18%;
  position: absolute;
}

.founder-text {
  align-self: center;
  text-align: left;
  margin-left: -4%;
  z-index: 2;
}

.founder-text h3 {
  font-weight: 300;
  font-size: 0.6rem;
  text-transform: uppercase;
}

.founder-text h4 {
  font-size: 1.5rem;
}

#founder-line {
  height: 15vh;
  border-left: 2px solid var(--clr-primary-1);
  margin-right: -8%;
}

.founder-paragraph {
  font-size: 0.85rem;
  text-align: left;
  line-height: 1.5;
}

/* THIS IS FOR THE BOARD Page*/
.board-container {
  height: 100vh;
  display: grid;
}

.board-container h3{
    margin-top: 5%;
    font-size: 2rem;
    color: var(--clr-primary-1);
    text-transform: uppercase;
 }

.board-section {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  row-gap: 10%;
  margin-top: -3%;
  justify-content: space-evenly;
  align-content: start;
}

.board-section div{
    display: grid;
    place-items: center;
    line-height: 1.5;
}

.board-section h5{
    font-size: 1.2rem;
}

.board-section p{
    font-size: 0.8rem;
    color: var(--clr-primary-10);

}

.board-img {
  display: grid;
  place-items: center;
  height: 7.5rem;
  width: 7.5rem;
  border-radius: 50%;
  background-image: var(--clr-gradient);
}

#first-image,
#second-image,
#third-image,
#fourth-image,
#fifth-image,
#sixth-image {
  height: 7rem;
  width: 7rem;
  /* background-image: url(./Images/Omubo-Pepple-Dabota.png); */
  background-size: 100% 100%;
}

#first-image{
    background-image: url(./Images/Omubo-Pepple-Dabota.png);
}

#second-image{
    background-image: url(./Images/Dr\ Joseph\ .O.\ Agbi.png);
}

#third-image{
    background-image: url(./Images/Prof.\ Kalada.png);
}

#fourth-image{
    background-image: url(./Images/Basuo\ Telimoye.png);
}

#fifth-image{
    background-image: url(./Images/icon-removebg-preview\ \(1\).png);
    border-radius: 50%;
}

#sixth-image{
    background-image: url(./Images/Ebenezer\ Wikina.png);
}